* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
/* reserva en la memoria de mi pc */
:root {
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(228, 12%, 48%);
  --black: hsl(212, 21%, 14%);
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --montserrat: "Montserrat";
  --fraunces: "Fraunces"
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: yellowgreen;
  width: 500px;
  /* width: 400px; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  overflow: hidden;
}

.perfume {
  width: 100%;
  /* border-radius: 20px 0 0 20px; */
}

.container-content {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 20px; */
}

h3 {
  font-family: var(--montserrat);
  color: var(--grey);
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 5px;
}

h2 {
  font-family: var(--fraunces);
  font-size: 25px;
  color: var(--black);
}

p {
  color: var(--grey);
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: 500;
}

.container-price {
  display: flex;
  gap: 20px;
  align-items: center;
}

.discount {
  color: var(--green-500);
  font-size: 30px;
  font-weight: bold;
  font-family: var(--fraunces);
}

.price {
  text-decoration: line-through;
}

button {
  border: none;
  padding: 10px;
  background-color: var(--green-500);
  border-radius: 5px;
  color: var(--white);
  font-family: var(--montserrat);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .1s;
}

button:hover {
  background-color: var(--green-700);
}

.perfume-mobile {
  display: none;
}

@media (max-width: 880px) {
  .container {
    width: 460px;
  }
}


@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  body {
    padding: 20px;
  }

  .perfume {
    display: none;
  }

  .perfume-mobile {
    display: block;
    width: 100%;
  }

  .container-content {
    gap: 10px;
  }
}