* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Las transformaciones permiten modificar la apariencia de un elemento en el espacio 2D o 3D sin alterar su flujo en el documento. Se aplican con la propiedad transform. */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.box {
  background-color: yellowgreen;
  height: 200px;
  margin: 10px;
  width: 200px;
  /* transition: all 1s linear; */
}

.box:hover {
  background-color: black;
  transform: scale(1.1) rotate(3deg);
}

.ball {
  height: 100px;
  width: 100px;
  background-color: violet;
  border-radius: 50%;
  animation: rebotar .5s infinite alternate ease;
}

@keyframes rebotar {
  0% {
    transform: scale(1);
    background-color: white;
  }

  100% {
    transform: scale(10);
    background-color: black;
  }
}